{% extends "base.html" %}
{% block titulo %}
    Agregar proveedor
{% endblock %}
{% block contenido %}
    <section class="section">
        <div class="columns">
            <div class="column">
                {% if error %}
                    <div class="notification is-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <h3 class="is-size-3">Agregar proveedor</h3>
                <form action="{{ url_for('create_provider') }}" method="post">
                    <label for="company">Empresa</label>
                    <input required type="text" class="input" placeholder="John Doe S.A." name="company" id="company">
                    <label for="nif">NIF</label>
                    <input required type="number" class="input" placeholder="123456" name="nif"
                           id="nif">
                    <label for="phone">Teléfono</label>
                    <input required type="text" class="input" placeholder="123-456-789" name="phone" id="phone">
                    <button type="submit" class="button is-success mt-2">Guardar</button>
                    <a href="{{ url_for('get_providers') }}" class="button is-primary mt-2">Volver</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}