{% extends "base.html" %}
{% block titulo %}
    Editar alquiler
{% endblock %}
{% block contenido %}
    <section class="section">
        <div class="columns">
            <div class="column">
                {% if error %}
                    <div class="notification is-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <h3 class="is-size-3">Editar alquiler</h3>
                <form action="{{ url_for('update_rental') }}" method="post">
                    {# Send the title in a hidden bar #}
                    <input type="hidden" name="title" id="title" value="{{ rental[0] }}">
                    {# Send the owner in a title bar #}
                    <input type="hidden" name="owner" id="owner" value="{{ rental[1] }}">
                    <label for="start">Fecha inicio</label>
                    <input value="{{ rental[2] }}" required type="date" class="input" placeholder=""
                           name="start" id="start">
                    <label for="end">Fecha fin</label>
                    <input value="{{ rental[3] }}" required type="date" class="input" placeholder=""
                           name="end" id="end">
                    <label for="type">Tipo de alquiler</label>
                    <select id="type" name="type" class="input">
                        <option value="PLAZO" {% if rental[4] == "PLAZO" %} selected {% endif %}>PLAZO</option>
                        <option value="TOTAL" {% if rental[4] == "TOTAL" %} selected {% endif %}>TOTAL</option>
                    </select>
                    <button type="submit" class="button is-success mt-2">Guardar</button>
                    <a href="{{ url_for('get_rentals') }}" class="button is-primary mt-2">Volver</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}