{% extends "base.html" %}
{% block titulo %}
    Editar película
{% endblock %}
{% block contenido %}
    <section class="section">
        <div class="columns">
            <div class="column">
                {% if error %}
                    <div class="notification is-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <h3 class="is-size-3">Editar película</h3>
                <form action="{{ url_for('update_movie') }}" method="post">
                    {# Send the id in a hidden bar #}
                    <input type="hidden" name="title" id="title" value="{{ movie[0] }}">
                    <label for="category">Categoría</label>
                    <input value="{{ movie[1] }}" required type="text" class="input" placeholder="Romance"
                           name="category" id="category">
                    <label for="phone">Descripción</label>
                    <input value="{{ movie[2] }}" required type="text" class="input"
                           placeholder="Un romance en el Titanic"
                           name="description" id="description">
                    <label for="provider">Empresa proveedora</label>
                    <input value="{{ movie[3] }}" required type="text" class="input" placeholder="Paramount Pictures"
                           name="provider" id="provider">
                    <label for="units">Unidades</label>
                    <input value="{{ movie[4] }}" required type="number" min="0" class="input" placeholder="100"
                           name="units" id="units">
                    <button type="submit" class="button is-success mt-2">Guardar</button>
                    <a href="{{ url_for('get_movies') }}" class="button is-primary mt-2">Volver</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}